<section class="navbar-expand-lg navbar-dark bg-success">
  <div class="d-flex py-3">
    <%= link_to root_path, class: 'nav-link' do %>
      <h1 class='text-light'>ユーザー一覧</h1>
    <% end %>
      <ul class="nav ml-auto">
        <li class="nav-item align-self-center mr-3">
          <h3>
            <%= link_to '投稿一覧', posts_path, class: 'nav-link text-light' %>
          </h3>
        </li>
      </ul>
  </div>
</section>

<section class='mt-4'>
  <div class="container">
    <div class="row">
            <% @users.each do |user| %>
        <div class="col-md-3 bg-white mt-5">
          <%= link_to user, class: 'text-decoration-none' do %>
            <div class="pt-3">
              <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", class: 'img-fluid image_tag'%>
              <p class='mt-3'><%= user.username %></p>
              <p><%= l user.updated_at, format: :long %></p>
            </div>
            <div class="posts-count">
              <p>
                投稿数：あとで実装
              </p>
            </div>
          <% end %>
        </div>
      <%end %> 
    </div>
  </div>
</section>
