<section class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container py-3 d-flex">
    <h1 class="text-light">
      <%= @user.username %>さん
    </h1>
    <% if @user.id == current_user.id %>
    <h4 class= 'text-light mr-auto pl-3 '>
      <%= @user.email %>
    </h4>
      <ul class="nav">
        <li class="nav-item">
          <h5 class= 'ml-auto' >
            <%= link_to '新規登録', new_post_path, class: 'text-light text-decoration-none' %>
            <%= link_to '編集', [:edit, @user], class: 'text-light text-decoration-none ml-2' %>
          </h5>
        </li>
        <li class="nav-item"></li>
      </ul>
    <% end %>
  </div>
</section>

<div class="container mt-5">

  <section>
    <div class="row">
      <div class="col-lg-3 offset-2 align-self-baseline">
        <div class="">
          <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: 'img-fluid' %>
        </div>
      </div>

      <div class="col-lg-5 pt-3 pt-lg-0 content">
        <%= simple_format @user.profile %>
      </div>      
    </div>
</section>

  <section class='mt-5 '>
    <div class="card-deck col-md-6" >
      <% @user.posts.each do |post| %>
        <div class="card">
          <div class="card-img-top">
          <%= link_to post, class: 'card-link' do %>
            <%= attachment_image_tag post, :image, class: 'object-fit' %>
          <% end %>
          </div>
          <div class="card-body text-center">
            <div class="card-title">
              <%= link_to post, class: 'card-link' do %>
                <span class='text-dark'>詳細を見る</span>
              <% end %>
            </div>
            <div class="card-link">
              <% if @user.id == current_user.id %>
                <%= link_to '編集する', [:edit, post], class: '' %> <br>
                <%= link_to '削除する', post_path(post), method: :delete, data: {confirm: "削除しますか？"} %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>    
  </section>

</div>






