<section class="navbar-expand-lg navbar-dark bg-success">
  <div class="d-flex py-3">
    <%= link_to root_path, class: 'nav-link' do %>
      <h1 class='text-light'>投稿一覧</h1>
    <% end %>
      <ul class="nav ml-auto">
        <li class="nav-item align-self-center mr-0.5">
          <h4>
            <%= link_to '新規投稿', new_post_path, class: 'nav-link text-light' %>
          </h4>
        </li>
        <li class="nav-item align-self-center mr-0.5">
          <h4>
            <%= link_to 'ユーザー一覧', users_path, class: 'nav-link text-light' %>
          </h4>
        </li>
        <li class="nav-item align-self-center mr-3">
          <h4>
            <%= link_to 'マイページ', user_path(current_user), class: 'nav-link text-light' %>
          </h4>
        </li>

      </ul>
  </div>
</section>

<section class=''>
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-3 bg-white mt-5">
          <%= link_to post do %>
            <div class="pt-3">
              <%= image_tag attachment_url(post, :image), class: 'img-fluid image_tag'%>
              <p class="mt-2"><%= post.title %><p>
              <p><%= post.user.username %></p>
              <p><%= l post.updated_at, format: :long %></p>
            </div>
          <% end %>
        </div>
      <%end %> 
    </div>
  </div>
</section>