<section class="navbar-expand-lg navbar-dark bg-success">
  <div class="d-flex py-3">
    <%= link_to root_path, class: 'nav-link' do %>
      <h1 class='text-light'>投稿一覧</h1>
    <% end %>
      <ul class="nav ml-auto">
        <li class="nav-item align-self-center mr-3">
          <h3>
            <%= link_to 'ユーザー一覧', users_path, class: 'nav-link text-light' %>
          </h3>
        </li>
      </ul>
  </div>
</section>

<section class='mt-4'>
  <div class="container">
    <div class="card-deck" style="width:30rem">
      <% @posts.each do |post| %>
        <div class="card text-center">

          <%= link_to post, class: 'text-decoration-none' do %>
            <div class="card-img-top">
              <%= attachment_image_tag post, :image, class: 'object-fit' %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"><%= post.title %></h5>
          <% end %>

            <%= link_to post.user, class: 'text-decoration-none' do %>
              <h6 class="card-subtitle my-1 text-dark"><%= post.user.username %>さん</h6>
            <% end %>

              <time><%= post.updated_at.strftime("%y-%-m-%-d %H:%M") %></time>　更新

              <p class="card-text">A card is a flexible and extensible content container. It includes ...</p>
              <a href="#" class="card-link">Card link</a>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

